<div class="content">
	<%= render partial:"header"%>


<div class="wrap">
<div class="media">
<div class="galeria">
<div id="rg-gallery" class="rg-gallery">
<div class="rg-thumbs">
<!-- Elastislide Carousel Thumbnail Viewer -->
<div class="es-carousel-wrapper">
<div class="es-nav">
<span class="es-nav-prev">Previous</span>
<span class="es-nav-next">Next</span>
</div>
<div class="es-carousel">
<ul>
	<% @video.media_files.each do |p| %>
	<li><a href="#"><%= image_tag p.url_file  , "data-large"=>p.url_file ,"alt"=>"image03", "data-description"=>p.description %></a></li>
    
   <% end %>

</ul>
</div>
</div>
<!-- End Elastislide Carousel Thumbnail Viewer -->
</div><!-- rg-thumbs --></div>
</div>
<div class="info">
<h2><%= @video.title%></h2>
<p id="tags_p">
Tags: 
	<%=raw get_tags(@video.media_tag)%>
</p>
<span class='st_sharethis_hcount' displayText='ShareThis'></span>
<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
<span class='st_pinterest_hcount' displayText='Pinterest'></span>
<span class='st_email_hcount' displayText='Email'></span>
</div></div>
<div class="clearfix"></div>
<div class="azul">
<div class="coments">
<%= render partial: "disqus" %>
</div>
<div id="more">
<div id="container">
	<%= render partial: "griditems" , locals: { archive: @related}%>
</div>
</div>


</div>

</div>


</div>

<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>

<%= javascript_include_tag 'jquery.tmpl.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.easing.1.3', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery.elastislide', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'gallery', 'data-turbolinks-track' => true %>