@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:0; font-family: 'Ubuntu', Helvetica, Arial, Verdana, sans-serif; font-size:14px; background:#ebebeb;}
@font-face {font-family: 'Ubuntu';font-style: normal;font-weight: 300;src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}
@font-face {font-family: 'Ubuntu';font-style: normal;font-weight: 400;src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');}
@font-face {font-family: 'Ubuntu';font-style: normal;font-weight: 700;src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}
header { border-top: 24px solid #272d34; background: #464646;}
.wrap { width: 980px; margin:0 auto;}
.ad728 { max-width:728px; float:left;}
.ad object, .ad embed, .ad img  { width: 100%; height:auto;}
.radiobox a{ border-radius: 45px;background: asset-url('circle-music.png') no-repeat #FFF -2px -2px;float: right;padding: 7px 15px 7px 45px; text-decoration:none; font-weight:bold; color:#a3a3a3;}
.buscador { width:200px; float:right; margin-bottom: 27px;}
.radiobox { margin-top:10px;}
.srch {display: block;width: 65%;padding: 6px 12px;font-size: 14px;line-height: 1.428571429;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; margin-top:10px; float:left;}
.btn { width:20%; padding:17px 12px; background:#CCC asset-url('search.png') no-repeat center center; border-radius:5px; border:0; float:left; margin-top:10px; margin-left:2px; cursor:pointer;}
/* navigation bar */
#topnav .wrap { position:relative; height:48px;}
#topnav img{width:200px;height:48px;margin-top:4px}
#topnav{display:block;width:100%;position:relative;background:#ccc url(http://3f23230283e636b61521-5ff817cd1603f874fb3abb5646e9b504.r0.cf2.rackcdn.com/images/template/images/bg-nav.jpg) left top repeat-x;height:48px; clear:both; border-bottom: 4px solid #004168;}
#topnav #navbtn{display:none;margin-right:15px;height:35px;background:asset-url('menu.png') 95px 12px no-repeat;overflow:hidden;text-transform:uppercase;text-decoration:none;padding:0 3% 0 3%; width:94%; color:#777; font-size:20px; height:48px; line-height: 40px;}
#topnav #navbtn:hover{background-color:#f5f5f5; color:#000}
#topnav nav{position:absolute;top:0;left:0px}
#topnav nav ul{list-style:none; margin:0; padding:0;}
#topnav nav ul li{display:block;float:left;font-size:10px;margin:0; padding:0; position:relative; background: url(http://3f23230283e636b61521-5ff817cd1603f874fb3abb5646e9b504.r0.cf2.rackcdn.com/images/template/images/menu-separator.png) right center no-repeat;}
#topnav nav ul li:last-child { background:none;}
#topnav nav ul li a{display:block;text-decoration:none;line-height:20px;color:#777;padding:14px; font-size: 20px;font-weight: bold;text-transform: uppercase;letter-spacing: -1px;text-shadow: 0 1px 0 rgba(255,255,255,.25);}
#topnav nav ul li ul { display:none; position:absolute; top:48px; left:0; z-index:2; background:#f5f5f5; min-width:160px;}
#topnav nav ul li:hover ul { display:block;}
#topnav nav ul li ul li { float:none;}
#topnav nav ul li ul li a { background:asset-url('menu-separator.png') right center no-repeat #f5f5f5; color:#000;}
#topnav nav ul li ul li a:hover { background:#e8e8e8;}
.content { background: asset-url('bg-content.jpg') repeat-x #ebebeb;}
/* clearfix */
.clearfix {clear:both;}
/* wrapper css */
#wrapper{width:100%; margin-top:-3px;}
#container{position:relative;width:980px;padding-bottom:10px;margin:0 auto 25px;}
.grid{width:225px;min-height:100px;background:#00182B;font-size:12px;float:left;box-shadow:0 1px 3px rgba(34,25,25,0.4);-moz-box-shadow:0 1px 3px rgba(34,25,25,0.4);-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);-webkit-transition:top 1s ease, left 1s ease, background .3s ease-in-out, opacity .3s ease-in-out;-moz-transition:top 1s ease, left 1s ease, background .3s ease-in-out, opacity .3s ease-in-out;-o-transition:top 1s ease, left 1s ease, background .3s ease-in-out, opacity .3s ease-in-out;-ms-transition:top 1s ease, left 1s ease, background .3s ease-in-out, opacity .3s ease-in-out;margin:4px;padding:2px 2px 7px; color:#FFF;}
.grid a.link{border-bottom:1px solid #13507F;display:block;font-size:12px;margin:10px 0;padding:0 5px 5px 26px; color:#FFF; text-decoration:none; text-align:left; text-transform:uppercase;}
.grid:hover {background: #053D69;}
.grid span { background:#0D63A7; text-transform:uppercase; font-weight:bold; text-align:center; padding:5px; display:block; margin-bottom:2px; font-size:14px;}
/*#container:hover .grid:not(:hover){opacity: 0.7;}*/
.video a.link { background: asset-url('play.png') no-repeat 3px 0;}
.gale a.link { background: asset-url('photo.png') no-repeat 3px 0;}
.audio a.link { background: asset-url('audio.png') no-repeat 3px 0;}
.grid .meta{text-align:center;color:#777;}
.grid .imgholder img{max-width:100%;background:#ccc;display:block; width:100%;}
.logo{ float:left; margin-top: 30px;}
.portada-kiosko{width:150px;height:110px;overflow:hidden;margin-left:30px;float:right;text-align:right}
.portada-kiosko img{transform:rotate(-8deg);-ms-transform:rotate(-8deg);-webkit-transform:rotate(-8deg);margin-top:20px;transition:all 300ms ease 0}
.portada-kiosko img:hover{transform:rotate(0deg);-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);margin-top:0}
.app-btns{width:135px;height:32px;float:right;margin:36px 35px 0;padding:0}
.app-btns span{color:#fff;width:105px;display:block;font-size:12px;text-align:center;text-transform:uppercase;margin:0 20px 0 auto}
.app-btns ul{margin:10px 0 0;padding:0}
.app-btns li,.app-btns a{display:inline-block;width:34px;height:32px;margin:0 5px 0 0;padding:0}
.app-btns li.android-btn{background:url(http://3f23230283e636b61521-5ff817cd1603f874fb3abb5646e9b504.r0.cf2.rackcdn.com/images/template/images/icon-android.png) no-repeat 0 0}
.app-btns li.apple-btn{background:url(http://3f23230283e636b61521-5ff817cd1603f874fb3abb5646e9b504.r0.cf2.rackcdn.com/images/template/images/icon-apple.png) no-repeat 0 0}
.app-btns li.window-btn{background:url(http://3f23230283e636b61521-5ff817cd1603f874fb3abb5646e9b504.r0.cf2.rackcdn.com/images/template/images/icon-windows.png) no-repeat 0 0}
.app-btns li.android-btn,.app-btns li.apple-btn,.app-btns li.window-btn{-webkit-transition:background-position .1s ease-in-out;-moz-transition:background-position .1s ease-in-out;-ms-transition:background-position .1s ease-in-out;-o-transition:background-position .1s ease-in-out;transition:background-position .1s ease-in-out}
.app-btns li.android-btn:hover{background:url(http://3f23230283e636b61521-5ff817cd1603f874fb3abb5646e9b504.r0.cf2.rackcdn.com/images/template/images/icon-android.png) no-repeat 0 -32px}
.app-btns li.apple-btn:hover{background:url(http://3f23230283e636b61521-5ff817cd1603f874fb3abb5646e9b504.r0.cf2.rackcdn.com/images/template/images/icon-apple.png) no-repeat 0 -32px}
.app-btns li.window-btn:hover{background:url(http://3f23230283e636b61521-5ff817cd1603f874fb3abb5646e9b504.r0.cf2.rackcdn.com/images/template/images/icon-windows.png) no-repeat 0 -32px}
.menumedia {background:#053D69; border-radius:5px; padding:4px 0;}
.menumedia ul { margin:0; padding:0; text-transform:uppercase; display:table; margin:0 auto; font-size:14px; font-weight:bold;}
.menumedia ul li { list-style:none; display:block; float:left; padding:0;}
.menumedia ul li a { text-decoration:none; color:#FFF; padding:5px 10px; display:block; border-right: 1px solid #13507F; transition:all ease-in-out .3s;}
.menumedia ul li:last-child  a { border-right:none;}
.menumedia ul li a:hover { background:rgba(34,25,25,0.5); color:#FFF; border-radius:3px;box-shadow:0 1px 3px rgba(34,25,25,0.9);-moz-box-shadow:0 1px 3px rgba(34,25,25,0.4);-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);}
.table { margin:0 auto; display:table;}
.videop{position:relative;width:100%; height:427px; margin-top:20px; /*float:left*/}
.galeria{position:relative;width:100%; margin-top:20px; float:left}
.videop iframe,.videop object,.videop embed{position:absolute;top:0;left:0;width:100%;height:100%}
.info { background: #053D69;width: 940px;float: left;padding: 20px;margin-top:0;color:#FFF;}
.info h2 { font-size:24px; font-weight:900; text-transform:uppercase; display:block; padding:20px 0; border-bottom:1px solid #13507F;}
.info #tags_p a { color:#FFF; background:rgba(0,0,0,.3); display:inline; text-decoration:none; padding:3px; line-height: 32px;}
.coments { width:46%; padding:10px 2%;background: #053D69; float:left;}
#more { width:50%; float:left; background:#012644;}
#more #container {width:490px;}
.azul { background:#053D69; overflow:hidden;}
.sidebar { margin:13px 0 0 0; padding:20px 0; display:block; float:left;width: 220px; background:#053D69; color:#FFF;}
.sidebar h1{ padding:0 10px; text-transform:uppercase; font-size:18px;}
.sidebar li { list-style:none; margin:0 10px; display:block;}
.sidebar li a { color:#FFF; text-decoration:none; display:block; border-bottom:1px solid #13507F; display:block; padding:5px 0; font-size:13px; padding-left:10px; background:rgba(0,0,0,.2);}
.sidebar li ul { margin:0; padding:0; display:block;}
.sidebar li ul li { margin:0; border-bottom:1px solid #13507F;}
.sidebar li ul li a { border-bottom:none; padding-left:25px; background:rgba(0,0,0,.1);}
#container.seccion { width:760px; float:left;}
.overflow { overflow:hidden;}
/*GALERIA*/
.rg-image-wrapper{position:relative;padding:20px 30px;background:transparent asset-url('black.png') repeat top left;min-height:20px}
.rg-image{position:relative;text-align:center;line-height:0}
.rg-image img{max-height:100%;max-width:100%}
.rg-image-nav a{position:absolute;top:0;left:0;background:#000 asset-url('nav.png') no-repeat -20% 50%;width:28px;height:100%;text-indent:-9000px;cursor:pointer;opacity:.3;outline:none}
.rg-image-nav a.rg-image-nav-next{right:0;left:auto;background-position:115% 50%}
.rg-image-nav a:hover{opacity:.8}
.rg-caption{text-align:center;margin-top:15px;position:relative}
.rg-caption p{font-size:11px;letter-spacing:2px;font-family:'Trebuchet MS','Myriad Pro',Arial,sans-serif;line-height:16px;padding:0 15px;text-transform:uppercase; color:#FFF;}
.rg-view{height:30px;display:none}
.rg-view a{display:block;float:right;width:16px;height:16px;margin-right:3px;background:#464646 asset-url('views.png') no-repeat top left;border:3px solid #464646;opacity:.8}
.rg-view a:hover{opacity:1}
.rg-view a.rg-view-full{background-position:0 0}
.rg-view a.rg-view-selected{background-color:#6f6f6f;border-color:#6f6f6f}
.rg-view a.rg-view-thumbs{background-position:0 -16px}
.rg-loading{width:46px;height:46px;position:absolute;top:50%;left:50%;background:#000 asset-url('ajax-loader.gif') no-repeat center center;margin:-23px 0 0 -23px;z-index:100;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;opacity:.7}
.es-carousel-wrapper{background:#101010;padding:10px 27px;position:relative;position:relative;}
.es-carousel{overflow:hidden;background:#000}
.es-carousel ul{display:none}
.es-carousel ul li{height:100%;float:left;display:block}
.es-carousel ul li a{display:block;border-style:solid;border-color:#222;opacity:.8;-webkit-touch-callout:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.es-carousel ul li.selected a{border-color:#fff;opacity:1}
.es-carousel ul li a img{display:block;border:none;max-height:100%;max-width:100%}
.es-nav span{position:absolute;top:50%;left:8px;background:transparent asset-url('nav_thumbs.png') no-repeat top left;width:14px;height:26px;margin-top:-13px;text-indent:-9000px;cursor:pointer;opacity:.8}
.es-nav span.es-nav-next{right:8px;left:auto;background-position:top right}
.es-nav span:hover{opacity:1}
.media { background:#053D69; overflow:hidden; margin-top:20px; margin-bottom:20px;}
.media .info, .media .galeria { margin-top: 0;}
/*AUDI PLAYER*/
.audioplayer{height:2.5em;color:#fff;text-shadow:1px 1px 0 #000;border:1px solid #222;position:relative;z-index:1;background:#333;background:-webkit-gradient(linear,left top,left bottom,from(#444),to(#222));background:-webkit-linear-gradient(top,#444,#222);background:-moz-linear-gradient(top,#444,#222);background:-ms-radial-gradient(top,#444,#222);background:-o-linear-gradient(top,#444,#222);background:linear-gradient(top,#444,#222);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 0 1.25em rgba(0,0,0,.5);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 0 1.25em rgba(0,0,0,.5);box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 0 1.25em rgba(0,0,0,.5);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.audioplayer-mini{width:2.5em;margin:0 auto}
.audioplayer>div{position:absolute}
.audioplayer-playpause{width:2.5em;height:100%;text-align:left;text-indent:-9999px;cursor:pointer;z-index:2;top:0;left:0}
.audioplayer:not(.audioplayer-mini) .audioplayer-playpause{border-right:1px solid #555;border-right-color:rgba(255,255,255,.1)}
.audioplayer-mini .audioplayer-playpause{width:100%}.audioplayer-playpause:focus,.audioplayer-playpause:hover{background-color:#222}
.audioplayer-playpause a{display:block}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{width:0;height:0;border:.5em solid transparent;border-right:none;border-left-color:#fff;content:'';position:absolute;top:50%;left:50%;margin:-.5em 0 0 -.25em}
.audioplayer-playing .audioplayer-playpause a{width:.75em;height:.75em;position:absolute;top:50%;left:50%;margin:-.375em 0 0 -.375em}
.audioplayer-playing .audioplayer-playpause a:after,.audioplayer-playing .audioplayer-playpause a:before{width:40%;height:100%;background-color:#fff;content:'';position:absolute;top:0}
.audioplayer-playing .audioplayer-playpause a:before{left:0}.audioplayer-playing .audioplayer-playpause a:after{right:0}
.audioplayer-time{width:4.375em;height:100%;line-height:2.375em;text-align:center;z-index:2;top:0}
.audioplayer-time-current{border-left:1px solid #111;border-left-color:rgba(0,0,0,.25);left:2.5em}
.audioplayer-time-duration{border-right:1px solid #555;border-right-color:rgba(255,255,255,.1);right:2.5em}
.audioplayer-novolume .audioplayer-time-duration{border-right:0;right:0}
.audioplayer-bar{height:.875em;background-color:#222;cursor:pointer;z-index:1;top:50%;right:6.875em;left:6.875em;margin-top:-.438em}
.audioplayer-novolume .audioplayer-bar{right:4.375em}
.audioplayer-bar div{width:0;height:100%;position:absolute;left:0;top:0}
.audioplayer-bar-loaded{background-color:#333;z-index:1}
.audioplayer-bar-played{background:#ff8a00;background:-webkit-gradient(linear,left top,right top,from(#ff8a00),to(#ff2400));background:-webkit-linear-gradient(left,#ff8a00,#ff2400);background:-moz-linear-gradient(left,#ff8a00,#ff2400);background:-ms-radial-gradient(left,#ff8a00,#ff2400);background:-o-linear-gradient(left,#ff8a00,#c600ff);background:linear-gradient(left,#ff8a00,#ff2400);z-index:2}
.audioplayer-volume{width:2.5em;height:100%;border-left:1px solid #111;border-left-color:rgba(0,0,0,.25);text-align:left;text-indent:-9999px;cursor:pointer;z-index:2;top:0;right:0}
.audioplayer-volume:focus,.audioplayer-volume:hover{background-color:#222}
.audioplayer-volume-button{width:100%;height:100%}
.audioplayer-volume-button a{width:.313em;height:.375em;background-color:#fff;display:block;position:relative;z-index:1;top:40%;left:35%}
.audioplayer-volume-button a:after,.audioplayer-volume-button a:before{content:'';position:absolute}.audioplayer-volume-button a:before{width:0;height:0;border:.5em solid transparent;border-left:none;border-right-color:#fff;z-index:2;top:50%;right:-.25em;margin-top:-.5em}
.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after{width:.313em;height:.313em;border:.25em double #fff;border-width:.25em .25em 0 0;left:.563em;top:-.063em;-webkit-border-radius:0 .938em 0 0;-moz-border-radius:0 .938em 0 0;border-radius:0 .938em 0 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.audioplayer-volume-adjust{height:6.25em;cursor:default;position:absolute;left:0;right:-1px;top:-9999px;background:#222;background:-webkit-gradient(linear,left top,left bottom,from(#444),to(#222));background:-webkit-linear-gradient(top,#444,#222);background:-moz-linear-gradient(top,#444,#222);background:-ms-radial-gradient(top,#444,#222);background:-o-linear-gradient(top,#444,#222);background:linear-gradient(top,#444,#222);-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust{opacity:0}.audioplayer-volume:hover .audioplayer-volume-adjust{top:auto;bottom:100%}
.audioplayer-volume-adjust>div{width:40%;height:80%;background-color:#222;cursor:pointer;position:relative;z-index:1;margin:30% auto 0}
.audioplayer-volume-adjust div div{width:100%;height:100%;position:absolute;bottom:0;left:0;background:#007fd1;background:-webkit-gradient(linear,left bottom,left top,from(#007fd1),to(#c600ff));background:-webkit-linear-gradient(bottom,#007fd1,#c600ff);background:-moz-linear-gradient(bottom,#007fd1,#c600ff);background:-ms-radial-gradient(bottom,#007fd1,#c600ff);background:-o-linear-gradient(bottom,#007fd1,#c600ff);background:linear-gradient(bottom,#007fd1,#c600ff)}
.audioplayer-novolume .audioplayer-volume{display:none}.audioplayer-pause,.audioplayer-play,.audioplayer-volume a{-webkit-filter:drop-shadow(1px 1px 0 #000);-moz-filter:drop-shadow(1px 1px 0 #000);-ms-filter:drop-shadow(1px 1px 0 #000);-o-filter:drop-shadow(1px 1px 0 #000);filter:drop-shadow(1px 1px 0 #000)}
.audioplayer-bar,.audioplayer-bar div,.audioplayer-volume-adjust div{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.audioplayer-bar,.audioplayer-volume-adjust>div{-webkit-box-shadow:-1px -1px 0 rgba(0,0,0,.5),1px 1px 0 rgba(255,255,255,.1);-moz-box-shadow:-1px -1px 0 rgba(0,0,0,.5),1px 1px 0 rgba(255,255,255,.1);box-shadow:-1px -1px 0 rgba(0,0,0,.5),1px 1px 0 rgba(255,255,255,.1)}
.audioplayer-bar-played,.audioplayer-volume-adjust div div{-webkit-box-shadow:inset 0 0 5px rgba(255,255,255,.5);-moz-box-shadow:inset 0 0 5px rgba(255,255,255,.5);box-shadow:inset 0 0 5px rgba(255,255,255,.5)}
.audioplayer-volume-adjust{-webkit-box-shadow:-2px -2px 2px rgba(0,0,0,.15),2px -2px 2px rgba(0,0,0,.15);-moz-box-shadow:-2px -2px 2px rgba(0,0,0,.15),2px -2px 2px rgba(0,0,0,.15);box-shadow:-2px -2px 2px rgba(0,0,0,.15),2px -2px 2px rgba(0,0,0,.15)}
.audioplayer *,.audioplayer :after,.audioplayer :before{-webkit-transition:color .25s ease,background-color .25s ease,opacity .5s ease;-moz-transition:color .25s ease,background-color .25s ease,opacity .5s ease;-ms-transition:color .25s ease,background-color .25s ease,opacity .5s ease;-o-transition:color .25s ease,background-color .25s ease,opacity .5s ease;transition:color .25s ease,background-color .25s ease,opacity .5s ease}
.audios { width:100%; float:left; margin-top:20px;}
#playlist {background:#222222;padding:20px; margin:0; height:144px; overflow-y:scroll; overflow-x:none;}
#playlist .active a{ color:#FFF;text-decoration:none; box-shadow:inset 0 0 5px rgba(0,0,0,.8); background:#053D69;}
#playlist li a{color:#fff; padding:10px;display:block; text-decoration:none; border-bottom:1px solid #333; transition: .3s all ease-in-out}
#playlist li a:hover{text-decoration:none; background:#333; color:#09F;}
#playlist li { list-style:none;}
.tag-busqueda { font-size:24px; text-align:center; color:#fff; display:table; line-height:38px; background:#053D69; border-radius:5px; margin:0 auto; padding:5px 10px; margin-top:20px;}
@media screen and (max-width : 1240px) {
/*body{overflow:auto;}*/
}
@media screen and (max-width : 900px) {
#backlinks{float:none;clear:both;}
#backlinks a{display:inline-block;padding-right:20px;}
}
/*End navigation bar */
@media screen and (max-width: 1091px) {
/* navigation bar */
#topnav nav{display:none;position:absolute;width:100%;top:48px;right:auto;border-bottom:1px solid #074862; z-index:4;}
#topnav nav ul { background:#f5f5f5; border-radius:0 0 5px 5px;box-shadow:0 1px 3px rgba(34,25,25,0.9);-moz-box-shadow:0 1px 3px rgba(34,25,25,0.4);-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4); overflow:hidden;}
#topnav nav ul li{float:none;margin:0}
#topnav nav ul li a{display:block;line-height:1.4em;padding:6px 9px}
#topnav nav ul li a:hover{background:#e8e8e8;}
#topnav nav ul li ul { display:block; position:relative; padding-left:20px; width:auto; min-width:inherit; top:0;box-shadow: none;-moz-box-shadow:none;-webkit-box-shadow:none;}
#topnav #navbtn{display:block}
#topnav,#topnav .container{height:auto}	  
/*End navigation bar */
.wrap { width:768px;}
.ad728 { margin:10px auto; float:none;}
.extras { display:table; margin:0 auto;}
.radiobox { float:left; margin:0 20px 0 0;}
.srch, .btn { margin-top:0;}
.logo { width:50%;}
.logo img{ width:100%; height:auto;}
.app-btns {margin: 36px 6px 0;}
.videop{padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0;width:auto; float:none}
.info {width: 94%;margin-top: 0;padding: 20px 3%;height: auto; }
#more, #more #container { width:100%; float:none;}
.coments { width:96%; padding:10px 2%;background: #053D69; float:none;}
#container.seccion { width:548px; }
.galeria { width:100%;}
.audios, .audios img { width:100%;}
}
@media screen and (max-width: 768px) {
.sidebar { margin:13px 0 13px 0; padding:20px 0; display:block; float:none; width: 100%;}
#container.seccion { float:none; margin:0 auto}
#container.seccion { width:480px; }
	}
@media screen and (max-width: 768px) {
.wrap { width:100%;}
.menumedia ul { font-size:9px;}
.logo { margin:0 auto; float:none;}
position: relative;

}
@media screen and (max-width: 480px) {
.buscador {width: 173px;}
.srch {display: block;width: 60%;}
}