<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Media Center</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-aa503ebe-a77a-a418-4b2a-960c438084b6", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="wrap">
<div class="ad ad728">
	<%= image_tag "ad-top-banner.jpg" , width:"730" , height:"90" %>

<div class="extras">
<div class="radiobox"><a href="#">GD radio</a></div>
<div class="buscador">
<input type="text" class="form-control srch" placeholder="Buscar">
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
</div></div>
<div id="topnav">
<div class="wrap">
     <nav>
				<ul>
                	<li><a href="#">HOME</a>
                    	<ul>
                            <li><a href="#">LINK 1</a></li>
                            <li><a href="#">LINK 2</a></li>
                            <li><a href="#">LINK 3</a></li>
                            <li><a href="#">LINK 4</a></li>
                            <li><a href="#">LINK 5</a></li>
                        </ul>
                    </li>
					<li><a href="#">Fútbol</a></li>
					<li><a href="#">Selecciones</a></li>
					<li><a href="#">Ligas</a></li>
                    <li><a href="#">+Deportes</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Estadísticas</a></li>
                    <li><a href="#">Opinión</a></li>
				</ul>
			</nav>
			<a href="#" id="navbtn">Menú</a>   </div></div>
</header>

 <!-- div content -->
<%= yield %>
 <!-- end -->
</div>



</body>



</html>
